@model SearchViewModel

@{
    var url = $"https://twitter.com/{Model.ScreenName}";
}

<div class="container">
    <br />
    <div class="row text-right">

        <button id="save-twitter-btn" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading" data-name="@Model.ScreenName">Save Twitter</button>

        <div class="col-lg-1 pull-right">
            <a asp-controller="Tweet" asp-action="Timeline" asp-route-twitterId="@Model.TwitterId" class="btn btn-primary">
                Table View
            </a>
        </div>

    </div>

    <a class="twitter-timeline" href="@url" data-tweet-limit="20">Tweets by @Model.Username</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>