@model TwitterSearchViewModel

@{
    var url = $"https://twitter.com/{Model.ScreenName}";
}


<div class="container">
    <br />
    <div class="row text-right">
        <form asp-controller="Tweet" asp-action="GetTwitterTimeline" method="post">
            <input hidden name="id", value="@Model.UserId"/>
            <button class="btn btn-link" type="submit">Timeline list view</button>
        </form>
    </div>

    <a class="twitter-timeline" href="@url" data-tweet-limit="20">Tweets by @Model.Username</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>