<div id="delete-tweet-modal" class="modal fade" style="display: none;">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete thit tweet? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-controller="Twitter" method="post">
                    <input id="delete-target-twitter-input" hidden name="id" value="" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>