<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TwitterBackUp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navabar.css" />
        <link rel="stylesheet" href="~/css/profile.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navabar.css" />
        <link rel="stylesheet" href="~/css/profile.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />


        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    </environment>
</head>
<body>

    <nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
        <div class="[ container ]">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="[ navbar-header ]">
                <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="[ sr-only ]">Toggle navigation</span>
                    <span class="[ icon-bar ]"></span>
                    <span class="[ icon-bar ]"></span>
                    <span class="[ icon-bar ]"></span>
                </button>
                <div class="[ animbrand ]">
                    
                    <a asp-controller="Home" asp-action="Index" class="[ navbar-brand ][ animate ]"><img id="logoBox"class="navbar-brand" src="~/images/images.png" />TwitterBackup</a>
               
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
                <ul class="[ nav navbar-nav navbar-left ]">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="[ animate ]">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" class="[ animate ]">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="[ animate ]">Contact</a></li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li><a asp-area="Admin" asp-controller="Home" asp-action="Users" class="[ animate ]">Manager</a></li>

                    }
                    <li><a asp-area="" asp-controller="Tweet" asp-action="Saved" class="[ animate ]">Saved Tweets</a></li>
                    <li><a asp-area="" asp-controller="Twitter" asp-action="SavedTwitters" class="[ animate ]">Saved Twitters</a></li>





                    @await Html.PartialAsync("_SmSearchPartial")
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
        @await Html.PartialAsync("_LgSearchPartial")
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - TwitterBackUp</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/promote-user.js"></script>
        <script src="~/js/delet-user.js"></script>
        <script src="~/js/view-another-user-timeline.js"></script>

        <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
        <script src="~/js/navbar.js" asp-append-version="true"></script>
        <script src="~/js/delete-tweet.js" asp-append-version="true"></script>
        <script src="~/js/tweet-details.js" asp-append-version="true"></script>
        <script src="~/js/suggestions.js" asp-append-version="true"></script>
        <script src="~/js/save-twitter.js" asp-append-version="true"></script>
        <script src="~/js/save-tweet.js" asp-append-version="true"></script>
        <script src="~/js/delete-single-twitter.js" asp-append-version="true"></script>
        <script src="~/js/delete-twitter-admin.js" asp-append-version="true"></script>


      
    </environment>

    <environment exclude="Development">

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"
                integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
                crossorigin="anonymous">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="~/js/delete-tweet.js" asp-append-version="true"></script>
        <script src="~/js/save-twitter.js" asp-append-version="true"></script>
        <script src="~/js/delet-user.js" asp-append-version="true"></script>
        <script src="~/js/delete-single-twitter.js" asp-append-version="true"></script>
        <script src="~/js/delete-twitter-admin.js" asp-append-version="true"></script>


        <script src="~/js/promote-user.js" asp-append-version="true"></script>
        <script src="~/js/save-tweet.js" asp-append-version="true"></script>
        <script src="~/js/navbar.js" asp-append-version="true"></script>
        <script src="~/js/suggestions.js" asp-append-version="true"></script>
        <script src="~/js/tweet-details.js" asp-append-version="true"></script>
        <script src= "~/js/view-another-user-timeline.js" asp-append-version="true"></script>

       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    </environment>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
