@if (User.Identity.IsAuthenticated) { 
<div class="[ bootsnipp-search animate ]">
    <div class="[ container ]">
        <form asp-controller="Tweet" asp-action="Search" role="search">
            <div class="[ input-group ]">
                <input type="text" class="[ form-control ]" name="text" placeholder="Search Tweets">
                <span class="[ input-group-btn ]">
                    <button class="[ btn btn-danger ] text-right" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>
}