
@if (User.Identity.IsAuthenticated)
{
    <div class="bootsnipp-search animate">
        <div class="container">
            <form asp-controller="Twitter" asp-action="SearchTwitter" role="search">
                <div class="input-group">
                    <input type="text" id="suggestions" class="form-control" name="screenName" placeholder="Search Tweets">
                    <div id="categoriesDown" class="input-group-btn dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="category"data-name="art-design">
                            <a class="btn btn-link dropdown-item"  href="#">Funny</a>
                             </div>
                            <div>
                            <a class="btn btn-link dropdown-item" href="#">Actors</a>
                                </div>
                            <div>
                            <a class="btn btn-link dropdown-item" href="#">Else</a>
                                </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
