
@if (User.Identity.IsAuthenticated)
{
    <div class="bootsnipp-search animate">
        <div class="container">
            <form asp-controller="Twitter" asp-action="SearchTwitter" role="search">
                <div class="input-group">
                    <input id="search-input" type="text" class="form-control" name="screenName" placeholder="Search Tweets">

                    <select class="selectpicker" id="categories-options">
                        <option>Funny</option>
                        <option>Actors</option>
                        <option>Music</option>
                        <option>Fashion</option>
                        <option>Entertainment</option>
                        <option>Books</option>
                        <option>Family</option>
                        <option>Food&Drink</option>
                        <option>Business</option>
                        <option>Government</option>
                        <option>News</option>
                    </select>

                </div>
            </form>
        </div>
    </div>
}
