@if (User.Identity.IsAuthenticated)
{
    <div class="bootsnipp-search animate">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form asp-controller="Twitter" asp-action="SearchTwitter" role="search">
                            <input type="text" class="form-control" name="screenName" placeholder="Search Tweets">
                            <span class="input-group-btn"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
