@using TwitterBackUp.Data.Identity
@inject UserManager<ApplicationUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <a onclick="document.getElementById('logout-form').submit();" class="[ animate ]" title="Logout">Logout</a>
            <form asp-area="" asp-controller="Account" asp-action="Logout" hidden method="post" id="logout-form" class="navbar-right"></form>
        </li>
        <li class="[ hidden-xs ]">
            <a href="#toggle-search" class="[ animate ]">
                <span class="[ glyphicon glyphicon-search ]"></span>
            </a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}
