@using TwitterBackUp.DTO.TweetDtos
@model IList<TwitterBackUp.DTO.TweetDtos.TweetDto>

<h2>@Model.Count</h2>

@foreach (var item in Model)
{
    <p>@item.CreatedOn</p>
    <p>@item.Content</p>
    <p>@item.TweetId</p>
}