@using TwitterBackUp.DTO;
@model ICollection<TweetDto>

@if (Model.Count != 0)
{
    foreach (var item in Model)
    {
        <hr>

        <div class="row">
        <div class="media-body" >
            <div class="media-heading col-lg-3 text-left">  <img src="@item.User.ProfileImage" alt="pic" />@@@item.User.Username</div>
          
            <ul class="nav nav-pills nav-pills-custom">
                <li><a href="@item.Entities.Urls.FirstOrDefault()?.TweetUrl"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
            </ul>
            <p>@item.TweetContent</p>
         
            <p>@item.CreatedOn</p>
        </div>
            </div>
           
    }


}
else
{
	       <h2>No Results</h2>  
}